apiVersion: v1
kind: Service
metadata:
    name: mysql
    labels:
        app: wordpress
spec:
    clusterIP: None
    ports:
    -   port: 3306
    selector:
        app: wordpress
        tier: mysql

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: wordpress
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---      

apiVersion: apps/v1
kind: Deployment
metadata:
    name: mysql
    labels:
        app: wordpress
spec:
  selector:
    matchLabels:
        app: wordpress
        tier: mysql
  template:
    metadata:
        labels:
            app: wordpress
            tier: mysql
    spec:
        containers:
        -   name: mysql
            image: mysql:5.6
            volumeMounts:
            -   mountPath: "/var/lib/mysql"
                name: mysql-data
            ports:
            -   containerPort: 3306
            env:
            -   name: MYSQL_DATABASE
                value: "wordpress"
            -   name: MYSQL_USER
                value: "wordpress"
            -   name: MYSQL_ROOT_PASSWORD
                valueFrom:
                    secretKeyRef:
                        name: phv-secrets
                        key: mysql_root_password
            -   name: MYSQL_PASSWORD
                valueFrom:
                    secretKeyRef:
                        name: phv-secrets
                        key: mysql_password
    
            resources:
                requests:
                    cpu: "250m"
                    memory: "250Mi"

        volumes:
        -   name: mysql-data
            persistentVolumeClaim:
                claimName: mysql-pv-claim

        
