apiVersion: v1
kind: Secret
metadata:
  name: phv-secrets
type: Opaque
data:
  mysql_root_password: {{ random_ascii_string(18) | b64encode }}
  mysql_password: {{ random_ascii_string(18) | b64encode }}
  
