$mytexts :#00ff40;
$bgImage : "";

//taken From Rima's email

$landingPage_topGradient:rgba(230, 230, 230, 0.2) ;//#E6E6E6;
$landingPage_botGradient: rgba(103, 204, 186, 0.5); //#67CCBA (60% opacity)


$landingPage_leftGradient: rgba(103, 204, 186, 0.1); 

$landingPage_rightGrad:rgba(25, 52, 101, 0.1);

//193465

$mainBlueColor:#194680;
$mainGreenColor:#67CCBA;
$grayBoxColor:#DFE6ED;
$whiteTextColor:#FFFFFF;
$allTitleTextColor:#194680;
$allParagraphTextColor:rgba(25, 70, 128, 0.6); //#194680 (60% opacity)

$regularTextColor:#061628;

//Our Partners Block colour : ( from top to bottom, right to left )


$partnerColors:(clients:#69C2CC,monitoring :#265991,
    vsd :#194680,logistics :#55ACC6,tech :#67CCBA);
